body {
  font-family: "Open Sans", sans-serif;
  color: #707070; }

header {
  height: 764px;
  background: url(../img/banner-1600.png);
  background-position: cover;
  background-repeat: no-repeat;
  position: relative; }

nav {
  background: #2c3e50;
  width: 100%;
  height: 65px;
  position: absolute;
  bottom: 0px; }
  nav ul {
    display: inline-block;
    list-style: none;
    margin-left: 206px;
    margin-top: 24px;
    padding: 0px; }
  nav li {
    display: inline-block;
    margin-left: 68px;
    text-transform: uppercase;
    font-size: 15px; }
    nav li:first-child {
      margin-left: 0; }

.logo {
  float: left;
  padding-top: 15px; }

ul li a {
  color: #5f758c; }
  ul li a:hover {
    color: white;
    text-decoration: none; }

.smallbtn {
  height: 46px;
  font-family: "Open Sans", sans-serif;
  text-transform: uppercase;
  background: #e74c3c;
  color: white;
  padding: 10px;
  border-radius: 4px;
  border: none;
  text-align: center;
  width: 105px;
  float: right;
  margin-top: 10px;
  font-size: 15px; }

.divider-1, .divider-2, .bl-1, .bl-2, .bl-3,
.stars {
  display: inline-block;
  background: url("../img/sprite.png") no-repeat;
  overflow: hidden;
  text-indent: -9999px;
  text-align: left; }

.divider-1 {
  background-position: -3px -0px;
  width: 710px;
  height: 46px; }

.divider-2 {
  background-position: -3px -49px;
  width: 710px;
  height: 26px; }

.bl-1 {
  background-position: -3px -78px;
  width: 150px;
  height: 108px; }

.bl-2 {
  background-position: -156px -78px;
  width: 150px;
  height: 108px; }

.bl-3 {
  background-position: -309px -78px;
  width: 150px;
  height: 108px; }

.stars {
  background-position: -462px -78px;
  width: 47px;
  height: 7px; }

.about h2 {
  margin-top: 72px;
  margin-bottom: 37px;
  color: #e74c3c;
  font-family: "Open Sans", sans-serif;
  font-size: 50px; }

.about h3 {
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  font-size: 30px;
  margin-top: 42px; }

.about p {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 15px; }

.about > p {
  font-family: Georgia sans-serif;
  font-weight: 400;
  font-size: 20px;
  font-style: italic; }

.about h4 {
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  font-weight: 600; }

.wwdo {
  margin-top: 70px; }

.bigbtn {
  height: 46px;
  font-family: "Open Sans", sans-serif;
  text-transform: uppercase;
  background: #e74c3c;
  color: white;
  padding: 10px;
  border-radius: 4px;
  border: none;
  text-align: center;
  width: 220px;
  margin-top: 78px;
  font-size: 15px;
  margin-bottom: 74px; }

.skills {
  height: 100%; }

.skills h2 {
  margin-top: 72px;
  margin-bottom: 37px;
  color: #e74c3c;
  font-family: "Open Sans", sans-serif;
  font-size: 50px;
  margin-top: 0;
  padding-top: 72px;
  color: white; }

.indicator {
  margin-top: 70px; }
  .indicator p {
    color: white;
    text-transform: uppercase;
    font-family: "Open Sans", sans-serif;
    font-size: 22px;
    font-weight: 300;
    margin-top: 26px; }

.parallax-window {
  height: 580px; }

.indicatorContainerWrap {
  position: relative;
  display: inline-block; }

.portfolio {
  height: 100%; }
  .portfolio h2 {
    margin-top: 72px;
    margin-bottom: 37px;
    color: #e74c3c;
    font-family: "Open Sans", sans-serif;
    font-size: 50px; }

.tabs {
  margin-top: 64px;
  margin-bottom: 60px; }
  .tabs li {
    list-style: none;
    display: inline-block;
    margin-left: 10px; }
    .tabs li a {
      color: #707070;
      font-size: 20px; }
      .tabs li a:hover {
        color: #e74c3c; }

.item ul {
  list-style: none;
  padding: 0; }
  .item ul li {
    display: inline-block; }

.newsletter {
  height: 100%;
  background: #2c3e50;
  padding-top: 30px;
  padding-bottom: 60px;
  margin-top: 66px; }
  .newsletter h3 {
    font-size: 30px;
    font-family: "Open Sans", sans-serif;
    font-weight: 300; }
  .newsletter p {
    font-size: 15px;
    font-family: "Open Sans", sans-serif;
    font-weight: 300;
    margin-bottom: 26px; }
  .newsletter .form {
    padding-right: 0px;
    padding-left: 0; }
  .newsletter input {
    width: 417px;
    height: 46px;
    padding: 16px;
    margin-right: 14px; }
  .newsletter button {
    height: 46px;
    font-family: "Open Sans", sans-serif;
    text-transform: uppercase;
    background: #e74c3c;
    color: white;
    padding: 10px;
    border-radius: 4px;
    border: none;
    text-align: center;
    width: 128px; }

.team {
  padding-bottom: 72px; }
  .team h2 {
    margin-top: 72px;
    margin-bottom: 37px;
    color: #e74c3c;
    font-family: "Open Sans", sans-serif;
    font-size: 50px; }
  .team .divider-1 {
    margin-bottom: 26px; }
  .team p {
    font-family: Georgia sans-serif;
    font-weight: 400;
    font-size: 20px;
    font-style: italic; }
  .team .teamphoto {
    margin-top: 26px; }
    .team .teamphoto h4 {
      font-size: 20px;
      font-weight: 600; }
    .team .teamphoto p {
      font-family: "Open Sans", sans-serif;
      font-size: 15px;
      color: #e74c3c;
      font-style: normal; }

.contact {
  background: #2c3e50;
  padding-bottom: 32px;
  padding-top: 32px; }
  .contact p {
    color: white;
    font-size: 15px;
    font-family: "Open Sans", sans-serif;
    font-weight: 300; }
  .contact ul {
    list-style: none; }
  .contact li {
    display: inline-block;
    margin-left: 40px; }

@media (max-width: 1200px) {
  nav li {
    margin-left: 20px; } }
@media (max-width: 992px) {
  nav li {
    display: block;
    margin-left: 0;
    display: none; } }
@media (max-width: 768px) {
  .newsletter button {
    margin-top: 15px; } }
@media (max-width: 320px) {
  .newsletter input {
    width: 300px; } }

/*# sourceMappingURL=main.css.map */