$maincolor: #e74c3c;
$fontcolor:#707070;
$colorofancor:#5f758c;
$mainbg: #2c3e50;
$mainfont: 'Open Sans', sans-serif; 
@mixin btn{
	height: 46px;
	font-family: $mainfont;
	text-transform: uppercase;
	background:#e74c3c; 
	color: white;
	padding: 10px;
	border-radius: 4px;
	border: none;
	text-align: center;

}

@mixin margin-h{
margin-top: 72px;
margin-bottom: 37px;
color:$maincolor;
font-family:$mainfont;
font-size: 50px; 
}

body{
font-family: $mainfont;
color: $fontcolor;
}
header{
	height: 764px;
	background:url(../img/banner-1600.png);
	background-position: cover;
	background-repeat: no-repeat; 
	position: relative;
}
nav{
	background: $mainbg;
	width: 100%;
	height: 65px;
	position: absolute;
	bottom: 0px;
	ul{
		display: inline-block;
		list-style: none;
		margin-left: 206px;
		margin-top: 24px;
		padding: 0px
	}
	li{
		display: inline-block;
		margin-left: 68px;
		text-transform: uppercase;
		font-size: 15px;

		&:first-child{
			margin-left: 0;
		}	

	}

		
}
.logo{
	float: left;
	padding-top: 15px;
}



	ul li a{
			color: $colorofancor;


			&:hover{
				color:white;
				text-decoration: none;
			}
		}

.smallbtn{
	 @include btn;
	 width: 105px;
	 float: right;
	 margin-top: 10px;
	 font-size: 15px;
}


.divider-1, .divider-2, .bl-1, .bl-2, .bl-3, 
.stars
{ display: inline-block; background: url('../img/sprite.png') no-repeat; overflow: hidden; text-indent: -9999px; text-align: left; }
 
.divider-1 { background-position: -3px -0px; width: 710px; height: 46px; }
.divider-2 { background-position: -3px -49px; width: 710px; height: 26px; }
.bl-1 { background-position: -3px -78px; width: 150px; height: 108px; }
.bl-2 { background-position: -156px -78px; width: 150px; height: 108px; }
.bl-3 { background-position: -309px -78px; width: 150px; height: 108px; }
.stars { background-position: -462px -78px; width: 47px; height: 7px; }

.about h2{
	@include margin-h;
}

.about h3{
	font-family: $mainfont;
	font-weight: 300;
	font-size: 30px;
	margin-top: 42px;
}
.about p{
	font-family: $mainfont;
	font-weight: 400;
	font-size: 15px;

}

.about>p {
  font-family: Georgia sans-serif;
  font-weight: 400;
  font-size: 20px;
  font-style: italic;
   }
.about h4{
	font-family: $mainfont;
	font-size: 20px;
	font-weight: 600;
	
}

.wwdo{
	margin-top: 70px;
}

.bigbtn{
	 @include btn;
	 width: 220px;
	 margin-top: 78px;
	 font-size: 15px;
	 margin-bottom: 74px;
}

.skills{

	height: 580px;
	background: url(../img/content-2-bg.png);
	background-repeat: no-repeat;
	background-position: center;
}
.indicatorContainerWrap{
    position: relative;
    display: inline-block;
}

.newsletter{
	height: 100%;
	background: $mainbg;
	padding-top: 30px;
	padding-bottom: 60px;	 
	h3{
		font-size: 30px;
		font-family: $mainfont;
		font-weight: 300;	
	}
	p{
		font-size: 15px;
		font-family: $mainfont;
		font-weight: 300;
		margin-bottom: 26px;	
	}
.form{
	padding-right: 0px;
	padding-left: 0;
}

	input{
		width: 417px;
		height: 46px;
		padding: 16px;
		margin-right: 14px;
	}
	button{
		@include btn;
		width: 128px;
	}
}

.team{
padding-bottom: 72px;

	h2{
		@include margin-h;
	}
	.divider-1{
		margin-bottom: 26px;
	}


	p{
		 font-family: Georgia sans-serif;
  font-weight: 400;
  font-size: 20px;
  font-style: italic;
	}
	.teamphoto{
		margin-top: 26px;

		h4{
			font-size: 20px;
			font-weight: 600;
		}
		p{
			font-family: $mainfont;
			font-size: 15px;
			color:$maincolor;
			font-style: normal; 
		}
	}

}

.contact{
	background: $mainbg;
	padding-bottom: 32px;
	padding-top: 32px;

	p{
		color: white;
		font-size: 15px;
		font-family: $mainfont;
		font-weight: 300;

	}

ul{
	list-style: none;
}
li{
	display: inline-block;
	margin-left: 40px;
}
}


 @media (max-width:1200px) {

nav li{
	margin-left: 20px;
}

 }  
 
  @media (max-width:992px) {

nav li{
	display: block;
	margin-left: 0;
	display: none;
}

}   

  @media (max-width:768px) {

.newsletter button{
	margin-top: 15px;
}

} 

  @media (max-width:320px) {

.newsletter input{
	width: 300px;
}

} 